{% extends "main.html" %}

{% block content %}

{% if current_user.is_authenticated %}

<script>

function uncheck(id)

{
    var i=11
	while(document.getElementById(i) !== null)
	{
	document.getElementById(i).checked = false;
	i+=10
	}
	document.getElementById(id).checked = true;
}

function init()

{
       document.getElementById("9:30").style.display = "none";
	   document.getElementById("11:30").style.display = "none";
	   document.getElementById("13:30").style.display = "none";
	   document.getElementById("15:30").style.display = "none";
}

function times(sel)
{
	
	document.getElementById("mySelect3").disabled = false;
	if(sel.options[sel.selectedIndex].text == "Friday")
	{
		
	   document.getElementById("9:30").disabled = true;
	   document.getElementById("11:30").disabled = true;
	   document.getElementById("13:30").disabled = true;
	   document.getElementById("15:30").disabled = true;
	}
	else
	{
		document.getElementById("9:30").disabled = false;
	   document.getElementById("11:30").disabled = false;
	   document.getElementById("13:30").disabled = false;
	   document.getElementById("15:30").disabled = false;
	}
}

</script>


<div class="container">
    <a href="/lectures" class="button">Lectures</a>
    <a href="/schedule" class="button">Weekly Schedule</a>
	<a href="/etudes" class="button">Etudes</a>
    <a href="/students" class="button">All Students</a>
    <a href="/profile" class="button" style="float: right;">Profile</a>
    <a href="/logout" class="button" style="float: right;">Log Out</a>
    <br>
	{% if title == 'Teacher' %}
	<script>init();</script>
    <form name="lectures" id="form1" action="/etudes" method="POST" enctype="multipart/form-data">
        <label id="branchLabel" for="branch" style = "display:inline;">Lecture Branch: </label>
        <select id="mySelect1" name = "Branch">
            {{ branchnames | safe}}
        </select>
		<br>
		<label id="dayLabel" for="weekday" style = "display:inline;">WeekDay:</label>
		<select id="mySelect2" name = "day" onchange="times(this)" >
            {{ day | safe}}
        </select>
		<br>
		<label id="timeLabel" for="time" style = "display:inline;" >Time:</label>
		<select id="mySelect3" name = "time" disabled>
            {{ time | safe}}
        </select>
		<br>
		<label id="locationLabel" for="location" style = "display:inline;">Location:</label>
		<select  id="mySelect4" name = "location">
            {{ location | safe}}
        </select>
		<br>
		<label id="quotaLabel" for="quota" style = "display:inline;">Quota:</label>
		<select  id="mySelect5" name = "quota"  {{activition | safe}} {{onchangee5 | safe }} >
            {{ quota | safe}}
        </select>
		<br>
        <input style="font-size:12px;" type="submit" name="sub" value="Submit">
    </form>
	{% endif %}
	{% if title == 'Student' %}
	<form name="etudes" id="form1" action="/etudes" method="POST" enctype="multipart/form-data">
	<table style="width:100%">
        <tr>
		    <th>ID</th>
            <th>Subject</th>
            <th>Day</th>
            <th>Time</th>
			<th>Quota</th>
			<th>Select</th>
        </tr>
        {{newrow | safe}}
    </table>
	<input style="font-size:12px;" type="submit" name="sub" value="Submit">
	</form>
	
	{% endif %}
</div>
{% endif %}
{% endblock %}