<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>SchoolManager</title>
  </head>
  <body>
    <h1>SchoolManager</h1>
	<form method="POST" action="/">
Username: <input style="font-size:22px;" type="text" name="UserName" value=""><br>
Password: <input style="font-size:22px;" type="text" name="Password" value=""><br>
First name: <input style="font-size:22px;" type="text" name="FirstName" value=""><br>
Last name: <input style="font-size:22px;" type="text" name="LastName" value=""><br>
<input style="font-size:12px;" type="submit" value="Submit">
</form>
  </body>
</html>
