{% extends "main.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<div class="container">
    <a href="/lectures" class="button">Lectures</a>
    <a href="/schedule" class="button">Weekly Schedule</a>
	<a href="/etudes" class="button">Etudes</a>
    <a href="/profile" class="button" style="float: right;">Profile</a>
    <a href="/logout" class="button" style="float: right;">Log Out</a>
</div>
<div class="container">
    <a href="/students" class="button">All Students</a>
    <a href="/teachers" class="button">All Teachers</a>
</div>
{% else %}
<div class="container">
    <a href="/signup" class="button">Sign Up</a>
    <a href="/signin" class="button">Sign In</a>
</div>
{% endif %}

{% endblock %}