{% extends "main.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<div class="container">
    <a href="/lectures" class="button">Lectures</a>
    <a href="/schedule" class="button">Weekly Schedule</a>
    <br>
    <form id="form1" action="/lectures" method="POST" enctype="multipart/form-data">
        <label id="branchLabel" for="branch" style = "display:inline;">Lecture Branch: </label>
        <select id="mySelect" name = "Branch">
            {{ branchnames | safe}}
        </select><br>
		<label id="dayLabel" for="weekday" style = "display:inline;">WeekDay:</label>
		<select id="mySelect" name = "day">
            {{ day | safe}}
        </select><br>
		<label id="timeLabel" for="time" style = "display:inline;">Time:</label>
		<select id="mySelect" name = "time">
            {{ time | safe}}
        </select><br>
		<label id="locationLabel" for="location" style = "display:inline;">Location:</label>
		<select  id="mySelect" name = "location">
            {{ location | safe}}
        </select><br>
        <input style="font-size:12px;" type="submit" value="Submit">
    </form>
</div>
{% endif %}
{% endblock %}