{% extends "main.html" %}

{% block content %}

<div class="container">
    <a href="/lectures" class="button">Lectures</a>
    <a href="/schedule" class="button">Weekly Schedule</a>
    <br>
    <form id="form1" action="/lectures" method="POST" enctype="multipart/form-data">
        Lecture Branch:
        <select id="mySelect" name = "Branch">
            {{ branchnames | safe}}
        </select><br>
		<select id="mySelect" name = "Branch">
            {{ day | safe}}
        </select><br>
		<select id="mySelect" name = "Branch">
            {{ time | safe}}
        </select><br>
		<select id="mySelect" name = "Branch">
            {{ location | safe}}
        </select><br>
        <input style="font-size:12px;" type="submit" value="Submit">
    </form>
</div>

{% endblock %}