{% extends "main.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="container">
    <a href="/lectures" class="button">Lectures</a>
    <a href="/schedule" class="button">Weekly Schedule</a>
    <a href="/profile" class="button" style="float: right;">Profile</a>
    <a href="/logout" class="button" style="float: right;">Log Out</a>
    <form method="POST" action="/password">
        Old password: <input type="password" name="old" required><br>
        New password: <input type="password" name="new1" required><br>
        New password (again): <input type="password" name="new2" required><br>
        <input type="submit" value="Update"><br>
    </form>
</div>
{% else %}
<div class="container">
    <a href="/signup" class="button">Sign Up</a>
    <a href="/signin" class="button">Sign In</a>
</div>
{% endif %}

{% endblock %}