{% extends "main.html" %}

{% block content %}

<h1 class="title">Users</h1>

{% if people %}
<table class="table is-striped is-fullwidth">
    {% for person_key, person in people %}
    <tr>
        <td>
            <a href="{{ url_for('person_page', person_key=person_key) }}">
                {{ person.name }} {{ person.surname }}
            {% if person.title %} ({{ person.year }}) {% endif %}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}