{% extends "main.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="container">
    <a href="/lectures" class="button">Lectures</a>
    <a href="/schedule" class="button">Weekly Schedule</a>
    <a href="/profile" class="button" style="float: right;">Profile</a>
    <a href="/logout" class="button" style="float: right;">Log Out</a>
    <table class="table" style="width:100%">
        {% if title == "Manager" %}
        <thead>
            <th>Name</th>
            <th>Surname</th>
            <th>Profile</th>
            <th>Join Date</th>
            <th>Experience</th>
        </thead>
        <tr>
            <td>{{ name }}</td>
            <td>{{ surname }}</td>
            <td><img src="data:image/png;base64,{{ profile }}" alt="profile.png"/></td>
            <td>{{ join_date }}</td>
            <td>{{ experience }}</td>
        </tr>
        {% elif title == "Teacher" %}
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Profile</th>
            <th>Subject</th>
            <th>Join Date</th>
            <th>Experience</th>
        </tr>
        <tr>
            <td>{{ name }}</td>
            <td>{{ surname }}</td>
            <td><img src="data:image/png;base64,{{ profile }}" alt="profile.png"/></td>
            <td>{{ subject }}</td>
            <td>{{ join_date }}</td>
            <td>{{ experience }}</td>
        </tr>
        {% elif title == "Student" %}
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Degree</th>
            <th>Join Date</th>
            <th>grade</th>
        </tr>
        <tr>
            <td>{{ name }}</td>
            <td>{{ surname }}</td>
            <td>{{ degree }}</td>
            <td>{{ join_date }}</td>
            <td>{{ grade }}</td>
        </tr>
        {% endif %}
    </table>
</div>
{% else %}
<div class="container">
    <a href="/signup" class="button">Sign Up</a>
    <a href="/signin" class="button">Sign In</a>
</div>
{% endif %}

{% endblock %}